rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tools/{id} {
      allow write: if (request.auth.uid == request.resource.data.assignedUser
      	&& request.resource.data.diff(resource.data).affectedKeys().hasOnly(['assignedUser']));
      allow read: if true;
    }
  }
}